
:root{
    --cor-azul-escuro-mais: #0a2b3c;
    --cor-azul-escuro: #164258;
    --cor-azul: #265b76;
    --cor-amarelo: #E5BE52;
    --cor-marrom: #794713;
    --cor-cisa-claro:#DCDEDE;
    --cor-cinza-escuro:#aaa;
}